:root {
  --color-accent: #38bdf8;
  --color-text: #1e293b;
  --color-border: #0369a1;
  --color-bg: #e2e8f0;
}

.admin-dashboard {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  color: var(--color-accent);
}

/* Section: Summary Cards */
.admin-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 50px;
}

.card-admin {
  background-color: var(--color-border);
  color: white;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 10px;
}

/* Section: Doctor Cards */
.doctor-section, .patient-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.card-section-title {
  margin-bottom: 10px;
  color: var(--color-accent);
  font-size: 2rem;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
}

/* Mini Card (Doctor & Patient) */
.mini-card {
  background-color: white;
  padding: 15px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out, filter 0.3s;
  filter: grayscale(1);
}

.mini-card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}

.mini-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.mini-card h3 {
  font-size: 1.1rem;
  color: var(--color-text);
  margin: 5px 0;
}

.mini-card p {
  font-size: 0.95rem;
  color: #555;
  margin: 2px 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .admin-dashboard {
    padding: 15px;
  }

  .detail-cards {
    flex-direction: column;
    align-items: center;
  }

  .mini-cards {
    width: 50%;
    object-fit: contain;
  }
  
  .card-grid {
    flex-direction: column;
    align-items: center;
  }

  .mini-card {
    width: 100%;
    margin: 20px 0;
  }
}
